
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  color: #2d3142;
  line-height: 25px;
  font-family: Roboto, Rubik, sans-serif;
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;

  background-image: url(crossword.png);
}

#header {
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  padding: 15px;
  margin: 0 auto;
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,.5);
  background-color: rgba(45,49,66,.95);
}
#header h1 {
  color: #ffffff;
  text-align: center;
  font-size: 1.9em;
  margin: 10px auto;
  margin-right: 15px;
}

#portrait {
  padding: 0;
  margin: 0;
}
.port {
  width: 250px;
  margin: 0 auto;
}

#Bio {
  text-align: center;
  font-size: 1.2em;
  margin: 5px auto;
  padding: 5px;
  width: 42.86%;


}
#Bio p{
  margin-bottom: 35px;
}
#Bio a {
  transition: .1s;
  text-decoration: none;
  color: #2d3142;
  border-bottom: 1px dotted #2d3142;
  padding: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
}
#Bio a:hover {
  transition: .3s;
  background-color: #2d3142;
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,.3);
  color: #ffffff;
}

.purple {
  color: #A569BD;
  font-weight: bold;
}
.pink {
  color: #FF2B7B;
  font-weight: bold;
}
.red {
  color: #C0392B;
  font-weight: bold;
}
.blue {
  color: #3498DB;
  font-weight: bold;
}
.darkblue {
  color: #1F618D;
  font-weight: bold;
}
.green {
  color: #2ECC71;
  font-weight: bold;
}
.darkgreen {
  color: #1E8449;
  font-weight: bold;
}
.orange {
  color: #EB984E;
  font-weight: bold;
}

.ital {
  font-style: italic;
  font-weight: normal;
}

#footer {
  width: 100%;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
  /*margin: 0 auto;
  padding: 0;
  position: absolute;
  bottom: 5%;
  left: 0%;*/
}
#footer p {
  color: #bfc0c0;
  margin: 10px;
  position: relative;
  top: 20px;
}
.heart {
  position: relative;
  left: 5px;
  top: 9px;
  display: inline;
  width: 30px;
}

#contact {
  color: #2d3142;
  position: fixed;
  right: 4%;
  top: 9%;
  text-align: right;
  margin-bottom: 5px;
  text-decoration: none;
}
#contact ul {
  list-style-type: none;
  text-decoration: none;
  width: 260px;
}
#contact a {
  text-decoration: none;
}
.large {
  display: table;

}

#Links {
  color: #2d3142;
  position: fixed;
  left: 4%;
  top: 9%;
  text-align: left;
  margin-bottom: 5px;
}
#Links ul {
  list-style-type: none;
}
.linkButton {
  display: block;
  text-align: center;
  margin: 5px 0px;
  padding: 5px;
  text-decoration: none;
  /*background-color: blue;*/
}

.button {
  box-sizing: border-box;
  height: 50px;
  width: 200px;
  display: table;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
  transition: background .3s;
  cursor: pointer;
}
.button span {
  width: 100%;
  height: 100%;
  padding: 20px;
  color: #4f5d75;
  /*box-shadow: 0 0 0 3px #ffffff inset;*/
  background: transparent;
}
.button .away {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.button .over {
  display: none;
}
.button:hover span.away {
  display: none;
}
.button:hover span.over {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  box-shadow: none;
}
.button:hover {
  background: #2d3142;
}
