/* RESETTING DEFAULTS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    background-color: rgb(250, 250, 250);
    max-width: 100%;
    overflow-x: hidden;
    width: 100%;
    height: 100%;

    font-family: 'Roboto', sans-serif;
    font-size: 8pt;
    font-weight: 400;
}

/* html {
    position: relative;
    min-height: 100%;
} */

a {
    text-decoration: none;
}

h1 {}

button {
    /* box-shadow: 0px 0px 3px 1px rgba(0,0,0,.2); */
    padding: 10px 0px;
    width: 120px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    /* border-radius: 3px; */
}
button:hover {
    background-color: rgba(250, 250, 250, 0.2)!important;
    color: rgb(29, 29, 29)!important;
    transform: scale(1.05);
}
button:active {
    transition: 0.1s;
    transform: scale(0.95);
}

span.away { display: block;}
span.over { display: none;}
button:hover span.away { display: none; }
button:hover span.over { display: block; }

/* MAIN DIVS */
.page {
    position: relative;
    min-height: 100vh;
}

header {
    width: 100%;
    /* position: fixed; */
    top: 0;
    text-align: center;

    background-color:  rgb(250, 250, 250);
    /* box-shadow: 0px 0px 5px 1px rgba(0,0,0,.2); */
}

#nameplate {
    width: 250px;
    margin: 40px;
    transition: 0.2s;
}
#nameplate:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#navbar {
    margin: 0px 20%;
    padding-bottom: 20px;
}

.main {
    text-align: center;
    overflow-wrap: break-word;
    padding-top: 20px;
    margin: 0px 28% 0px;
    padding-bottom: 20px;
    /* box-shadow: 0px 0px 5px 1px rgba(0,0,0,.2); */
}
#front-page {
    /* background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png"); */
}
#music-page {}

.divider {
    /* padding: 20px; */
    /* background-color: yellowgreen; */
    /* background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png"); */

    object-fit: cover;
    width: 100%;
    height: 30px;
    /* margin-bottom: 5px; */
}
#music-divide {object-position: 0% 0%;}

footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-weight: 200;
}

/* TEXT */
p {
    color: rgb(63, 63, 63);
}

#bio p {
    text-align: left;
    margin: 20px 6% 0px;
    font-size: 14pt;
    color: rgb(63, 63, 63);
}
#talk {
    text-align: center;
    margin: 20px 6% 0px;
}

.caption-text {
    font-size: 13pt;
    font-weight: bold;
    margin-bottom: 5px;
}
.sub-text {
    margin-top: 5px;
    font-style: italic;
    font-size: 10pt;
    color: rgb(100, 100, 100);
}
.left {text-align: left;}
.right {text-align: right;}
.cntr {text-align: center !important;}
.undl {text-decoration: underline;}
.itlc {font-style: italic;}
.light {}

/* PICTURES */
.frontpics {
    display: inline-block;
}

.art {
    object-fit: cover;
    width: 0%;
    height: 300px;

    transition: 0.3s;
    box-shadow: 7px 7px 3px 0px rgba(0,0,0,.6);

    margin: 5px 0 20px;
}

.project-group {
    text-align: left;
    margin: 0px 6% 40px;
    font-size: 12pt;
    color: rgb(63, 63, 63);
}

.project {
    object-fit: cover;
    width: 100%;
    height: 300px;
    transition: 0.3s;
    
    margin-bottom: 20px;
}
.project:hover {
    cursor: pointer;
    transform: scale(1.05);
}
#mixboy {object-position: 0% 100%;}

.poster {
    display: inline-grid;
    text-align: center;
    object-fit: cover;
    width: 250px;
    height: 100%;
    margin-right: 10px;
    transition: 0.3s;

    margin-bottom: 20px;
}
.poster:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.prof {
    position: absolute;
    object-fit: cover;
    object-position: 50% -0%;
    width: 18%;
    height: 500px;

    /* margin: 0px 10px; */
    transition: 0.3s;
}
.prof:hover{
    /* transform: scale(1.02); */
}
#prof-pic {
    left: 0;
    top: 5%;
}
#japan-pic {
    right: 0;
    top: 30%;
}
#desert-pic {
    left: 0;
    top: 60%;
}

.prof-disp { /* in progress */
    display: none;
    padding: 20px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,.2);
}
.prof-disp:hover{
    display: block;
}

.pic-inline {
    object-fit: cover;
    height: 100px;
    width: 100%;
    margin-top: 10px;
}
#ciel {
    float: right; 
    width: auto;
    margin: 0;
}
#remember {object-position: 0% 42%;}
#insight-sound {object-position: 0% 59%;}

/* MUSIC */

.music-banner {
    object-fit: cover;
    height: 400px;
    width: 100%;
    margin: 0;
    object-position: 0% 55%;
}

.discog {
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 10px;
    left: 20%;
}

.album-group {
    text-align: left;
    margin: 30px 6% 0px;
    font-size: 12pt;
    color: rgb(63, 63, 63);
}
.album-cover {
    width: 240px;
    margin-right: 30px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,.2);
    transition: 0.3s;

    display: inline-block;
}
.album-cover:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.album-text {
    font-weight: 600;
    margin-top: 20px;
}
.album-caption {
    margin-top: 5px;
    font-style: italic;
    font-size: 10pt;
    color: rgb(100, 100, 100);
}
.c-small {
    width: 150px;
    margin: 5px;
    display: inline-grid;
}

#musicgroup {
    margin-top: 20px;
    vertical-align: middle;
}

.stream-icon {
    /* object-fit: cover; */
    width: 60px;
    display: inline-block;
    margin-right: 10px;
    transition: 0.3s;
}
.stream-icon:hover {transform: scale(1.1);}
#gplay {width: 90px; margin-left: 15px;}
#scloud {width: 100px}

.s-big {width: 103px;}
.s-small {width: 40px;}

/* .stream-big {
    width: 103px;
    display: inline-block;
    margin-left: 10px;
    transition: 0.3s;
}
.stream-big:hover {transform: scale(1.1);} */

/* LINKS */

.navlink{
    color: rgb(29, 29, 29);
    font-family: 'PT Sans', sans-serif;
    font-size: 11pt;
    font-weight: 200;
    /* font-style: italic; */
    
    display: inline-block;
    padding: 0px 4.8%;
    border-radius: 2px;
    transition: 0.3s;
}
.navlink:hover{
    /* text-decoration: underline; */
    cursor: pointer;
    background-color: rgb(39, 39, 39);;
    color: white;
    /* font-size: 12pt; */
    letter-spacing: 1px;
}

.conlink{
    text-decoration: underline;
    color: rgb(68, 68, 68);
    font-size: 11pt;
    display: block;

    padding: 0px 4.8%;
    margin-bottom: 5px;
    border-radius: 2px;
    transition: 0.3s;
}
.conlink:hover{
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(39, 39, 39);;
    color: white;
    letter-spacing: 1px;
    font-size: 11pt;
}

.groupedlinks {
    display: inline-grid;
    /* float: left; */
    position: relative;
    margin: 0px 10px;
}

.link {
    display: block;
    padding-bottom: 20px;
    /* height: 30px;
    width: 60px; */

    transition: 0.2s;
}
.link-side {
    display: inline-block;
    padding-bottom: 20px;
    margin: 0px 5px;

    transition: 0.2s;
}

.wordlink {
    color: rgb(29, 29, 29) !important;
    font-family: 'PT Sans', sans-serif;
    font-size: 12pt;

    padding: 1px 2px;
    transition: .2s;
}
.wordlink:hover {
    /* font-size: inherit; */
    letter-spacing: -0.5px;

    cursor: pointer;
    background-color: rgb(29, 29, 29) !important;
    color: white !important;
    border-radius: 2px;
}
.wl-small {
    color: rgb(49, 49, 49) !important;
    font-size: 9pt;
}

#resume {color: rgb(250, 250, 250); background-color: rgba(175, 175, 175, 0.7);}
#phone {color: rgb(250, 250, 250); background-color: rgba(150, 150, 150, 0.7);}
#email {color: rgb(250, 250, 250); background-color: rgba(126, 126, 126, 0.7);}
#spoti {color: rgb(250, 250, 250); background-color: rgba(84, 216, 84, 0.7);}
#instagram {color: rgb(250, 250, 250); background-color: #ec6f92;}
#linkedin {color: rgb(250, 250, 250); background-color: rgba(63, 73, 167, 0.7);}
#appmusic {color: rgb(250, 250, 250); background-color: rgba(228, 80, 141, 0.7);}
#soundcloud {color: rgb(250, 250, 250); background-color: rgba(236, 147, 63, 0.7);}
#google {color: rgb(250, 250, 250); background-color:rgba(226, 186, 101, 0.7);}
#facebook {color: rgb(250, 250, 250); background-color: rgba(78, 125, 196, 0.7);}
#youtube {color: rgb(250, 250, 250); background-color: rgba(230, 59, 59, 0.7);}
#git {color: rgb(250, 250, 250); background-color: rgba(43, 168, 147, 0.7);}
#devpost {color: rgb(250, 250, 250); background-color: #2d9eb2;}

#cu {background-color: rgba(230, 201, 139, 0.5);}
#work {background-color: rgba(135, 209, 138, 0.397);}
#light {background-color: rgba(135, 165, 209, 0.397);}
#scoville {background-color: rgba(223, 130, 130, 0.5);}
#insight {background-color: rgba(255, 183, 116, 0.5);}
#phone-small {color: rgb(250, 250, 250); background-color: rgba(190, 190, 190, 0.5);}
#email-small {color: rgb(250, 250, 250); background-color: rgba(163, 163, 163, 0.5);}
#linkedin-small {color: rgb(250, 250, 250); background-color: rgba(115, 124, 201, 0.5);}
#ciel-link {background-color: rgba(55, 140, 243, 0.342);}


/* CLASSES */

.container {
    text-align: center;
    margin-bottom: 25px;
}
.container-last {
    text-align: center;
    margin-bottom: 50px;
}
.container-opp {
    text-align: left;
    margin-top: 10px;
}

.label-big {
    text-align: left;
    white-space: nowrap;

    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 44pt;
    font-style: italic;
    margin: 0px auto 10px;
    color: #1b1b1bd9;
}

.label-div {
    white-space: nowrap;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 26pt;
    font-style: italic;
    margin: 0px auto 8px;
    color: #1b1b1bd9;
}
.label-small {
    font-family: 'PT Sans', sans-serif;
    /* font-family: 'Work Sans', sans-serif; */
    font-weight: 600;
    font-size: 11pt;
    font-style: italic;
    margin: 0px auto 8px;
    color: #1b1b1bd9;
}

.icon {
    display: inline-flex;
    width: 10%;
}

.notice {
    position: static;
    font-style: italic;
    font-weight: 700;
    font-size: 30pt;
}

.heart {
    position: relative;
    left: 4px;
    top: 3px;
    width: 15px;
}

#pooh {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
    bottom: 26%;
}

/* MEDIA QUERIES FOR MOBILE VIEWING */

/* smartphones */
@media screen and (max-width: 1000px) {
    /* styles */

    #nameplate {
        width: 400px;
        margin: 60px;
        transition: 0.2s;
    }
    
    #navbar {
        margin: 0px 8%;
        padding-bottom: 20px;
    }
    .navlink {
        font-size: 20pt;
        padding: 0px 4.5%;
    }

    .frontpics {
        display: none;
    }
    
    .main {
        margin: 0px 6% 0px;
        padding-top: 30px;
    }

    .outer {
        /* margin: 0px 6% 0px; */
    }

    .container {
        margin-bottom: 60px;
    }
    .container-last {
        margin-bottom: 80px;
    }

    #bio p {
        margin: 50px 0%; 
    }

    .pic-inline {
        margin-bottom: 30px;
    }
    #ciel {margin-bottom: 30px;}

    .label-big {
        font-size: 52pt;
    }
    .label-div {
        font-size: 40pt;
    }
    .label-small {
        font-size: 20pt;
    }

    .conlink { 
        margin-bottom: 15px;
    }

    .link {
        padding-bottom: 40px;
    }
    button {
        padding: 18px 0px;
        width: 180px;
        font-size: 15pt;
    }



    footer {
        font-size: 14pt;
        bottom: 15px;
    }

}